@mixin title {
    color: $black;
    font-size: 2.6em;
    letter-spacing: 0.1em;
    background: linear-gradient(transparent 80%, $yellow 80%);
}
@mixin underline {
  background: linear-gradient(transparent 80%, $yellow 80%);
}

@mixin contents-title {
    display: inline-block;
    font-size: 2.2rem;
    font-weight: bold;
    letter-spacing: .6rem;
}

@mixin btn-square {
    display: inline-block;
    width: 30%;
    margin: 0 auto;
    padding: 1em 1em;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.5rem;
    letter-spacing: .2em;
    background-color: $orange;
    color: #fff;
    border-bottom: solid 4px lighten($orange, 15%);
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);



    &::before {
        content: "\f061";
        font-family: FontAwesome;
        color: #fff;
    }
    &::after {
        content: "\f0e0";
        font-family: FontAwesome;
        color: #fff;
    }
    &:active {
            transform: translateY(4px);
            transform: translateY(4px);
            border-bottom: none;
    }
}

@mixin boxstyle {
          border-radius: 5px;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

@mixin fukidashi {

    &::before,
    &::after {
        content: "";
        position: absolute;
        right: 0;
        left: 0;
        width: 0;
        height: 0;
        margin: auto;
    }
}