@charset "UTF-8";
@import "mixin";



//--------------------------------------------


$white: #fff;
$orange: #FFB033;
$lightOrange: #FEF6E0;
$yellow: #F2F20D;
$blue: #0B83FA;
$lightGray:#f4f4f4;
$gray: #99A4AE;
$darkGray: #545158;
$black: #383838;
$green: #86D8C9;


//--------------------------------------------------
$breakpoints: (
  'sm': 'screen and (min-width: 400px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 1000px)',
  'xl': 'screen and (min-width: 1200px)',
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}


html* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    color: $black;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

dd {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}




// ---------------HEADER--------------------







.gl-header {
    width: 100%;
    position: relative;
    border-top: .8rem solid $orange;

    &__util-nav {
        position: absolute;
        top: 0;
        right: 30px;
        font-size: 18px;
        text-align: center;

        &__tel {
            color: $orange;
            font-size: 20px;
        }
    }

    &__logo {
        margin: 0 auto;
        padding: 2rem 0;
        text-align: center;

    }

}

.gl-nav {
    width: 100%;
    background-color: #fff;
    padding-bottom: 1rem;
    transition: .5s ease-in;

    &.transform {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        padding-bottom: 1rem;
        box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
    }

    &__items {
        display: flex;
        justify-content: space-around;
    }

    &__item {
        margin-top: 15px;
        width: 15%;
        padding-left: 2em;
        border-left: 2px dotted $orange;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;

        &:nth-of-type(1) {
            background-image: url(../images/nav/nav01.jpg);
            border-left: none;
        }

        &:nth-of-type(2) {
            background-image: url(../images/nav/nav02.jpg);
        }

        &:nth-of-type(3) {
            background-image: url(../images/nav/nav03.jpg);
        }

        &:nth-of-type(4) {
            background-image: url(../images/nav/nav04.jpg);
        }

        &:nth-of-type(5) {
            background-image: url(../images/nav/nav05.jpg);
        }
    }

    &__item-link {
        width: 100%;
        height: 3em;
        text-align: center;
        display: inline-block;
        text-indent: -9999px;
        transition: border-color 1s linear;

        &:hover {
            border-bottom: 3px solid $orange;
        }
    }
}

/*---------HERO-----------------*/
.hero {
    width: 100%;
    margin: 0 2rem 6rem;

    &__title {
        width: 100%;
        margin: 0 auto;
    }
}





// ------------------------PURPOSE----------------






.purpose {
    width: 100%;
    border: solid 3px $black;
    text-align: center;
    margin: 0 auto 10rem;
    background-color: $lightGray;
    box-shadow: 0 19px 30px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    position: relative;


    @include fukidashi;
     &::before {
        bottom: -6.2rem;
        border-top: 6.1rem solid $black;
        border-left: 3.1rem solid transparent;
        border-right: 3.1rem solid transparent;
    }

    &::after {
        border-top: 5.8rem solid $lightGray;
        border-left: 3rem solid transparent;
        border-right: 3rem solid transparent;
        z-index: 10;
    }

    &__title {
        width: 90%;
        height: 11rem;
        margin: 0 auto 2rem;
        color: $black;
        font-size: 2.6em;
        letter-spacing: 0.1em;
        @include underline;
    }

    &__title-large {
        font-size: 4.4rem;
    }

    &__title-q {
        font-size: 8rem;
        letter-spacing: -.4rem;
    }

    &__lists {
        margin: 0 auto;
        width: 100%;
        margin-bottom: 5rem;
    }

    &__list {
        text-align: left;
        font-size: 1.2rem;
        text-indent: 20%;
        padding: .8rem 0.5rem;

        .fa {
            color: $orange;
        }
    }

}



// ------------SERVICE---------------



.service {
    width: 100%;
    text-align: center;
    margin: 0 auto 11rem;

    &__title {
        position: relative;
        width: 100%;
        height: 8/5rem;
        margin: 0 0 4rem;
        color: #fff;
        font-size: 2.2em;
        // border-bottom: 3rem solid $yellow;
        background-color: $darkGray;
        // linear-gradient(transparent 50%, $yellow 50%); box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.1);

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 40%;
            display: inline-block;
            width: 6rem;
            height: 5px;
            background-color: $orange;
        }

        &::before {
            left: -1%;
            transform: rotate(60deg);
            transform: rotate(60deg);
        }

        &::after {
            right: 2%;
            transform: rotate(-60deg);
            transform: rotate(-60deg);
        }
    }

    &__title-large {
        font-size: 4.4rem;
        letter-spacing: .3rem;
    }

    &__title-q {
        font-size: 6rem;
        letter-spacing: -0.5rem;
    }

    &__title-dot {
        position: relative;
        padding-top: 0.2rem;

        &::before {
            position: absolute;
            content: "";
            width: 0.2em;
            height: 0.2em;
            border-radius: 50%;
            background-color: $orange;
            top: -10px;
            left: 50%;
            transform: translate(-50%, 0);
        }
    }

    &__topics {
        width: 100%;
        margin: 0 auto 10rem;
        background-color: $green;
        padding: 4rem 0 5rem;

        &-box {
            background-color: #fff;
            padding: 2rem;
            margin: 0 3rem;
            box-shadow: 3px 5px 15px $black;
        }
    }

    &__topic {
        margin: 0 auto 4.5rem;
        font-size: 1.3rem;

        &-middle {
            font-size: 2.4rem;
            letter-spacing: .8rem;
        }

        &-large {
            font-size: 3.7rem;
            border-bottom: 3px solid $orange;
            letter-spacing: 1rem;
        }
    }

    &__text {
        font-size: 1.2rem;
        text-align: left;
        line-height: 2;
        letter-spacing: 0.1em;

    }

    &__text-large {
        font-size: 1.3rem;
        font-weight: bold;
        background: linear-gradient(transparent 50%, $yellow 50%)
    }

    &__contents {
        @include contents-title;
        border-top: 4px solid $yellow;
        border-bottom: 4px solid $yellow;
    }

    &__content {
        margin: 0 auto 5rem;
        width: 80%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

        &__content-price  .card {
          padding-top: 1rem;
          height: 400px;

          &__image {
              background-color: #fff;
          }


          &-title {
            margin: 0;
          }

          &-title .p {
            font-size: .8rem;
          }
        }


    .card {
        background: $lightOrange;
        border: 2px solid $black;
        border-radius: 5px;
        display: inline-block;
        height: 300px;
        margin: 1rem;
        position: relative;
        width: 300px;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);


        .card-title {
            margin-top: 10px;
            padding: 6px 15px 8px;
            position: relative;
            z-index: 0;

            h2 {
                font-size: 24px;
                font-weight: bold;
                letter-spacing: -0.05em;
                margin: 0;
                padding: 0;
                position: relative;
                display: block;
                cursor: pointer;

                &::after {
                position: absolute;
                font-family: FontAwesome;
                content: "\f13a";
                top: .2rem;
                right: .5rem;
                color: $orange;
                cursor: pointer;
            }

                p {
                    display: none;
                    font-size: 1.2rem;
                    letter-spacing: -0.025em;
                    background-color: $white;
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
}




.btn-square {
    @include btn-square;
}

// ---------------BANNER-----------------
.banner {
    width: 100%;
    height: 20rem;
    background-color: $darkGray;
    position: relative;

    &::before {
        position: absolute;
        content: "";
        top: -8.5rem;
        left: 7rem;
        width: 130px;
        height: 140px;
        background-image: url(../images/logo_mini02.png);
        background-repeat: no-repeat;
        z-index: 50;

    }

    &__title {
        padding-top: 56px;
    }

    &__tel {
        font-size: 3.5rem;
        position: absolute;
        left: 8rem;
        bottom: .2rem;
        z-index: 20;

    }

    &__tel-small {
        font-size: 1.5rem;
    }

    &__btn {
        @include btn-square;
        width: 30%;
        padding: 0.3rem;
        position: absolute;
        font-size: 1.1rem;
        line-height: 2.5;
        right: 11rem;
        bottom: 1.5rem;
        z-index: 10;
    }
}

.bubble {
    @include fukidashi;
    &::after {
        bottom: -4rem;
        border-top: 5rem solid $darkGray;
        border-left: 7rem solid transparent;
        border-right: 7rem solid transparent;
        z-index: 10;
    }
}

// --------------FLOW OF USE--------------------



.flowofuse {
    width: 100%;
    margin: 0 auto 10rem;
    padding-bottom: 8rem;
    text-align: center;
    background-color: #F4F4F4;
    position: relative;

    &__title {
        @include contents-title;
        text-align: center;
        position: relative;
        margin-top: 10rem;
        margin-bottom: 5rem;

        &::before {
            content: "";
            top: 40%;
            display: inline-block;
            width: 3.5rem;
            height: 4px;
            background-color: $orange;
            position: absolute;
            left: -18%;
            transform: rotate(60deg);
            transform: rotate(60deg);
        }

        &::after {
            content: "";
            top: 40%;
            display: inline-block;
            width: 3.5rem;
            height: 4px;
            background-color: $orange;
            position: absolute;
            right: -15%;
            transform: rotate(-60deg);
            transform: rotate(-60deg);
        }
    }

    &__items {
        width: 75%;
        margin: 0 auto 3.5rem;
        padding: 1rem 0;
        display: flex;
        border: 2px solid $black;
        background-color: #fff;
        position: relative;

        &:nth-last-child(1) {
            margin-bottom: 4rem;
        }

        &-num,
        &-title {
            color: $orange;
            border-bottom: 2px solid $yellow;
            display: inline-block;
            height: 2.2rem;
            padding-top: 1.2rem;
        }

        &-num {
            font-size: 1.3rem;
            margin-left: 1.4rem;
        }

        &-title {
            font-weight: bold;
            font-size: 1.3rem;
            padding-left: 0.5rem;
            margin-right: 2rem;
            width: 11%;
            color: #FC7320;
            text-align-last: left;

        }

        &-text {
            font-size: 1.2rem;
            font-weight: bold;
            padding-left: 1.5rem;
            border-left: 2px solid $black;
        }
    }

    &__img {
        background-size: contain;

        &:nth-of-type(1) {
            position: absolute;
            top: 19.5%;
            right: 12%;
            z-index: 2;
            width: 108px;
            height: 150px;

        }

        &:nth-of-type(3) {
            background-image: url(../images/use/use02.png);
            position: absolute;
            top: 36%;
            right: 20%;
            width: 170px;
            height: 180px;
            z-index: 2;

        }

        &:nth-of-type(5) {
            background-image: url(../images/use/use03.png);
            position: absolute;
            top: 49%;
            right: 8%;
            width: 200px;
            height: 200px;
            z-index: 2;

        }

        &:nth-of-type(7) {
            background-image: url(../images/use/use04.png);
            position: absolute;
            bottom: 17%;
            right: 22%;
            width: 150px;
            height: 220px;
            z-index: 2;

        }
    }

    &__btn {
        @include btn-square;
        position: absolute;
        left: 32%;
        bottom: -5%;
        z-index: 3;
    }
}





// --------------------FAQ------------------------



.faq {
    width: 100%;
    background-image: url(../images/faq/faq-back.png);
    background-size: cover;
    text-align: center;
    margin: 10rem 0;


    &__title {
        @include contents-title;
        border-top: 3px dotted $orange;
        border-bottom: 3px dotted $orange;
        margin: 5rem auto;
    }

    &__box {
        @include boxstyle;
        width: 75%;
        background-color: $green;
        border: 2px solid $darkGray;
        margin: 5rem auto;
        text-align: left;



        &-q {
            width: 80%;
            font-size: 1.3rem;
            font-weight: bold;
            color: $darkGray;
            padding: 1.3rem 0 1.3rem 7rem;
            position: relative;
            display: block;

            &.active::after {
                content: "\f068";
                font-family: FontAwesome;
                color: #fff;
            }

            &::before {
                position: absolute;
                content: "Q";
                top: 1rem;
                left: 3rem;
                font-size: 1.6rem;
            }

            &::after {
                position: absolute;
                font-family: FontAwesome;
                content: "\f067";
                top: 1.5rem;
                right: 0;
                cursor: pointer;
            }
        }

        &-a {
            display: none;
            font-size: 1.3rem;
            padding: 1.2rem 2rem 1rem 7rem;
            background-color: #fff;
            position: relative;

            &::before {
                position: absolute;
                content: "A";
                top: 1rem;
                left: 3rem;
                font-size: 1.6rem;
                color: darken($green, 40%);
            }

        }

        &:last-of-type {
            margin-bottom: 8rem;
        }
    }

}

#page_top {
    width: 70px;
    height: 70px;
    position: fixed;
    right: -80px;
    bottom: 50px;
    border-radius: 50%;

    a {
        position: relative;
        display: block;
        text-decoration: none;
        font-size: 3rem;
        color: $orange;
    }

}


// ------------------FOOTER--------------------



.gl-footer {
    background-color: $lightGray;
    text-align: center;
    border-bottom: .3rem solid $orange;

    &__nav {
        width: 30%;
        margin: 0 auto;
        padding: 2rem 0 1rem;
        display: flex;
        justify-content: space-between;

        &-list {

            a {
                color: $black;
                font-size: 0.8rem;

                &:hover {
                    color: #ffffff;
                }
            }
        }
    }
}